*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.ctn {
    font-family: sans-serif;
}

header {
    background-color: #D33A2C;
    display: flex;
    justify-content:space-around;
    align-items: center;
    height: 100px;
}

.smash {
    height: 40px;
    width: 40px;
}

.head1 {
    padding: 13px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.head1:hover {
    cursor: pointer;
}

.head12 {
    padding: 13px;
    background-color: #93281F;
    border-radius: 10px;
}

.fa-cat {
    margin-left: 10px;
    font-size: 25px;
}

.cat1:hover,
.cat2:hover,
.cat3:hover,
.cat4:hover,
.cat5:hover {
    background-color: #93281F;
    border-radius: 10px;
    border: none;
}

.form1 {
    position: relative;
}

.fa-search {
    font-size: 22px;
    color: #D33A2C;
    position:absolute;
    top: 40px;
    left: 30px;

}

.form1 input {
    margin: 20px;
    width: 320px;
    height: 60px;
    border-radius: 10px;
    border: none;
    padding-left: 46px;
    font-size: 18px;
    font-weight: bold;
}

.negr {
    display: flex;
    width: 88%;
    margin: 0 auto;
    margin-top: 80px;
}

.don {
    flex: 70%;
}

.don .don1 {
    margin-left: 200px;
}

.don1 {
    font-weight: 100;
}

.don1 a {
    font-size: 20px;
    font-weight: 700;
    color: red;
}

.don-img {
    display: flex;
    margin-left: 25px;
    margin-top: 20px;
}

.don-img img {
    border: 6px solid red;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.don-right {
    margin-left: 20px;

}

.don-right a {
    font-size: 47px;
    font-weight: 600;
    color: rgb(43, 42, 42);
    text-decoration: none;
}

.don-bot {
    color: rgb(46, 45, 45);
    margin: 15px 0 0 200px;
    font-size: 14px;
}

.don-bot a {
    font-size: 18px;
    font-weight: 900;
    color: rgb(53, 51, 51);
    
}

.par {
    margin: 25px 0 0 15px;
}

.conti {
    font-size: 22px;
    font-weight: 600;
    color: red;
    text-decoration: underline;
    margin: 30px 0 0 15px;
}

.valer1 {
    margin: 60px 0 0 160px;
}

.valer1 a {
    font-size: 18px;
    font-weight: 700;
    color: red;
}

.don-bot2 {
    font-size: 14px;
}

.don-bot2 a {
    font-size: 18px;
    font-weight: 900;
    color: rgb(53, 51, 51);
}

.valer-img {
    display: flex;
    margin-left: 30px;
    width: 80%;
    margin-top: 20px;
}

.valer-img img {
    border: 6px solid red;
    border-radius: 10px;
    width: 110px;
    height: 110px;
}

.valer-right {
    margin-left: 20px;

}

.valer-right a {
    font-size: 30px;
    font-weight: 600;
    color: rgb(43, 42, 42);
    text-decoration: none;
}

.see {
    margin: 120px auto 0 auto;
    width: fit-content;
    font-size: 18px;
    font-weight: 100;
    border-bottom: #D33A2C solid 5px;
}

.see:hover {
    cursor: pointer;
    color:#D33A2C;
}

.joker {
    flex: 30%;
    background-color: #ffffff;
}

.joker1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 60px;
    width: 100%;
    background-color: #EBEDE9;
    border-radius: 13px;
}

.joker1 img {
    position: absolute;
    top: -130px;
    width: 250px;
    height: 250px;
}

.joker1 .button1 {
    font-size: 22px;
    font-weight: 600;
    color: #93281F;
    background-color: white;
    border-radius: 12px;
    border: none;
    width: 250px;
    height: 50px;
    margin-top: 110px;
}

.joker2 {
    font-size: 30px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    margin: 30px;
}

.joker3 {
    text-align: center;
    font-size: 19px;
    font-weight: 200;
    margin: 30px;
}

.joker1 .button2 {
    font-size: 22px;
    font-weight: 600;
    color: #ffffff;
    background-color: #19A972;
    border-radius: 12px;
    border: none;
    width: 280px;
    height: 100px;
    text-align: center;

}

button:hover {
    cursor: pointer;
}

.joker4 {
    color: grey;
    font-size: 13px;
    text-align: center;
    margin:20px 30px 0 30px;
    padding-bottom: 50px;
}

.joker4 a {
    color: grey;
    font-size: 13px;
}

.big-div {
    background-color: #F6F3F2;
}

.testing {
    margin-top: 100px;
    display: flex;
    justify-content: space-evenly;
}

.vue {
    /* background-color: hotpink; */
    width: 27%;
    margin-right: 30px;
    margin-top: 40px;
    padding: 15px;
}

.vue:hover {
    background-color: white;
    border-radius: 13px;
}

.days {
    font-size: 14px;
    font-weight: 100;
    color: #5c5b5b;
}

.app {
    font-size: 30px;
    font-weight: bold;
    margin-top: 12px;
    text-decoration: underline;
}

.app:hover {
    color: #93281F;
    cursor: pointer;
}

.omer {
    margin-top: 20px;
    text-decoration: underline;
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 22px;
    color: #333333;
}

.omer:hover {
    cursor: pointer;
    color: black;
}

.long {
    font-size: 40px;
    font-weight: 100;
    color: #93281F;
    padding: 20px 25px;
    width: fit-content;
}

.long1 {
    margin-top: 30px;
}

.long2 {
    margin-top: 30px;
}

.long3 {
    margin-top: 30px;
}

.long:hover {
    background-color:#006FC6;
    border-radius: 10px;
    cursor: pointer;
}

.pishak {
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: 0 auto;
    margin-top: 200px;
}

.hopen {
    margin-top: 90px;
    width: 29%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our {
    font-size: 12px;
    font-weight: 100;
    margin-bottom: 14px;
    color: #5c5b5b;
}

.imgh {
    margin: 12px;
}

.imgh img {
    width: 150px;
    height: 70px;
}

.hopin1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

.hopin1:hover {
    cursor: pointer;
}

.ph {
    margin: 0 10px 10px 10px;
    text-align: center;
}

.bh {
    height: 33px;
    background-color: #175FFF;
    border-radius: 3px;
    border: none;
}



.join {
    position: relative;
    width: 69%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EBEDE9;
    border-radius: 12px;
}

.member {
    font-size: 28px;
    font-weight: bold;
    margin-top: 120px;
}

.friend {
    font-size: 18px;
    text-align: center;
    margin: 15px 30px;
}

.bjoin {
    width: 300px;
    height: 70px;
    background-color: #19A972 ;
    color: white;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    margin: 12px 0;
}

.join img {
    width: 250px;
    height: 250px;
    position: absolute;
    top: -130px;
}

.alre {
    font-weight: 100;
    margin-bottom: 50px;
    margin-top: 30px;
}

.meet {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#175FFF;
    width: 100%;
    margin-top: 100px;
}

.june {
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin-top: 60px;
}

.click {
    text-align: center;
    color: white;
    font-size: 42px;
    font-weight: bold;
    text-decoration: underline #6a98fa;
    margin: 35px 22% 30px 22%;
}

.click:hover {
    cursor: pointer;
}

.our2 {
    text-align: center;
    font-size: 18px;
    color: #F6F3F2;
    margin: 0 27%;
}

.bjump {
    width: 300px;
    height: 60px;
    background-color: white;
    color: #175FFF;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    margin-top: 40px;
}

.june-img {
    margin-top: 40px ;
    margin-bottom: 30px;
    width: 75%;
    height: 60%;
}

.frame {
    margin-top: 60px;
}

.works {
    background-color: white;
    border-radius: 13px;
    width: 84%;
    margin: 0 auto;
    margin-top: 50px;
}

.work1 {
    font-size: 14px;
    margin-left: 30px;
    margin-bottom: 20px;
    padding-top: 30px; 
    color: #333333;
}


.work3 {
    font-size: 18px;
    margin: 30px;
}

.work2 a {
    font-size: 33px;
    font-weight: bold;
    margin: 0 0 30px 30px;
    color: #19A972;
}

.bexplore {
    width: 38%;
    height: 60px;
    background-color: #19A972;
    font-size: 22px;
    font-weight: 600;
    color: white;
    margin: 0 0 30px 30px;
    border: none;
    border-radius: 10px;
}

.work22 a {
    font-size: 33px;
    font-weight: bold;
    margin: 0 0 30px 30px;
    color: #FA5800;
}

.bexplore2 {
    width: 25%;
    height: 60px;
    background-color: #FA5800;
    font-size: 22px;
    font-weight: 600;
    color: white;
    margin: 0 0 30px 30px;
    border: none;
    border-radius: 10px;
}

.work23 a {
    font-size: 33px;
    font-weight: bold;
    margin: 0 0 30px 30px;
    color: #A91993;
}

.bexplore3 {
    width: 25%;
    height: 60px;
    background-color: #A91993;
    font-size: 22px;
    font-weight: 600;
    color: white;
    margin: 0 0 30px 30px;
    border: none;
    border-radius: 10px;
}

.meow {
    width: 60%;
    margin: 50px auto 0 auto;
    background-color: #1282BD;
    border-radius: 12px;
    padding-bottom: 25px;
}

.meow1 img {
    width: 100%;
    height: 50%;
    margin-bottom: 30px;
}

.meow2 a {
    font-size: 35px;
    font-weight: 600;
    color: white;
    margin: 30px;
}

.meow3 {
    font-size: 18px;
    color: white;
    margin: 30px;
}

.meow4 input {
    width: 90%;
    height: 60px;
    margin: 0 5% 0 5%;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    padding-left: 30px;
}

.meow4 {
    position: relative;
}

.search-meow {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #0168B8;
    width: 30%;
    height: 60px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    right: 5%;
}

.meow5 {
    font-size: 17px;
    color: white;
    text-align: center;
    background-color: #0277a8;
    width: 50%;
    border-radius: 10px;
    margin: 20px 25%;
    padding: 15px;
}

.design {
    position: relative;
    margin-top: 100px;
    background-color: #D33A2C;
    padding: 50px;
}

.book {
    position: absolute;
    top: -60px;
    right: 60px;
}

.book img {
    width: 270px;
    height: 380px;
}

.system1 {
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.system2 a {
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-decoration: underline #f7766a;
}

.system3 {
    font-size: 18px;
    color: white;
    width:60%;
    margin-top: 30px;
}

.system4 {
    width: 300px;
    height: 60px;
    background-color: white;
    font-size: 22px;
    font-weight: 500;
    color: #175FFF;
    border: none;
    border-radius: 10px;
    margin-top: 25px;

}

.person {
    display: flex;
    width: 82%;
    margin: 60px auto 0 auto;
}

.person-img img {
    width: 210px;
    height: 210px;
    border-radius: 10px;
    border: 4px solid red;
}

.person-text h2 {
    margin-left: 15px;
    font-weight: 100;
    color: rgb(53, 51, 51);
}

.person-text p {
    font-size: 17px;
    line-height: 1.8;
    margin-left: 15px;
}

.umar {
    display: flex;
    flex-wrap: wrap;
    width: 86%;
    margin: 60px auto 0 auto;
}

.umar1 {
    display: flex;
    width: 50%;
    margin-top: 80px;
}

.umar-img {
    padding-top: 15px;
}

.umar-img img {
    width: 70px;
    height: 70px;
    border: 4px solid red;
    border-radius: 7px;
}

.umar-text {
    margin-left: 15px;
}

.text1 a {
    font-size: 18px;
    font-weight: 900;
    color: #333333;
}

.text2 {
    font-size: 30px;
    font-weight: bold;
    margin-top: 15px;
}

.text2:hover {
    color: #93281F;
    cursor: pointer;
}

.text3 {
    font-size: 17px;
    width: 70%;
    line-height: 1.8;
    color: #333333;
}

.foot {
    background-color: #D33A2C;
    margin-top: 80px;
    position: relative;
}

.foot1 {
    font-size: 13px;
    font-weight: 600;
    color: white;
    padding-top: 50px;
    text-align: center;
    letter-spacing: 2px;
}

.foot2 {
    width: 80%;
    margin: 40px auto 0 auto;
    text-align: center;
    line-height: 2.4;
}

.foot2 a {
    font-size: 20px;
    color: whitesmoke;
    text-decoration: none;
    margin: 10px 14px;
}

.foot2 a:hover {
    color: #410904;
}

.foot3 {
    line-height: 1.8;
    font-size: 14px;
    font-weight: 100;
    color: whitesmoke;
    text-align: center;
    width: 30%;
    margin: 50px auto 0 auto;
}

.foot3 a {
    color: whitesmoke;
    font-weight: bold;
}

.foot4 {
    width: 40%;
    margin: 25px auto 0 auto;
    text-align: center;
    line-height: 2.2;
    padding-bottom: 60px;
}

.foot4 a {
    margin: 0 12px;
    color: whitesmoke;
    font-size: 14px;
    font-weight: 100;
}

.foot-img1 img {
    position: absolute;
    left: 60px;
    bottom: 80px;
    width: 300px;
    height:300px;
}

.foot-img2 img {
    position: absolute;
    right: 40px;
    bottom: 80px;
    width: 250px;
    height: 250px;
}

.icon {
    position: absolute;
    bottom: 13px;
    right: 13px;
    padding: 15px;
    background-color: grey;
    border-radius: 10px;
    font-size: 20px;
    color: wheat;
}

.icon:hover {
    cursor: pointer;
    background-color:#282634 ;
}

@media only screen and (max-width:1220px) {
    .cat5 {
        display: none;
    }
    
    .negr {
        flex-direction: column;
    }
}

@media only screen and (max-width:1110px) {
    .cat4 {
        display: none;
    }

    .testing {
        flex-wrap: wrap;
    }

    .vue {
        width: 40%;
    }

    .hopen {
        display: none;
    }

    .join {
        width: 100%;
    }

    .frame,
    .frame2 {
        display: flex;
    }

    .works,
    .meow {
        width: 47%;
    }

    .bexplore,
    .bexplore2,
    .bexplore3 {
        font-size: 17px;
    }
}

@media only screen and (max-width:1020px) {
    .umar {
        flex-direction: column;
        /* width: 100%; */
    }

    .umar1 {
        width: 100%;
    }
}

@media only screen and (max-width:905px) {
    .cat3 {
        display: none;
    }
}

@media only screen and (max-width:840px) {
    .cat2 {
        display: none;
    }

    .joker {
        margin-top: 80px;
    }

    .design {
        position: relative;
        padding-top: 270px;
    }

    .book {
        position: absolute;
        top: 10px;
        left: 50px;
    }


    .book img {
        width: 150px;
        height: 240px;
    }

    .system3 {
        width: 100%;
    }

}

@media only screen and (max-width:740px) {
    .frame, 
    .frame2 {
        flex-direction: column;
    }

    .works,
    .meow {
        width: 90%;
    }
}

@media only screen and (max-width:660px) {
    .cat1 {
        display: none;
    }

    .don-img,
    .valer-img {
        flex-direction: column;
    }

    .testing {
        flex-direction: column;
    }

    .vue {
        width: 100%;
    }

    .frame,
    .frame2 {
        display: flex;
        flex-direction: row;
    }

    .works,
    .meow {
        width: 40%;
    }

    .bexplore,
    .bexplore2,
    .bexplore3 {
        font-size: 13px;
    }

}

@media only screen and (max-width:510px)  {
    .frame, 
    .frame2 {
        flex-direction: column;
    }

    .works,
    .meow {
        width: 90%;
    }

}

@media only screen and (max-width:480px) {
    header {
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .search {
        width: 100%;

    }
}

